@tailwind components;

@layer components {
    .popup-component {
        @apply fixed inset-0 z-50 bg-black/70 backdrop-blur-sm;
        @apply flex items-center justify-center;
    }
    .popup-header-close {
        @apply cursor-pointer rounded hover:bg-slate-400 w-5 h-5;
    }
    .popup-header-close-icon {
        @apply fill-black/60 hover:fill-black;
    }

    /* Popup Form */
    .popup-form-container {
        @apply w-[45%] h-[50%] rounded-2xl bg-white flex flex-col justify-between pl-16 pt-4;
        box-shadow: 0.25rem 0.25rem rgb(0, 0, 0, 0.3);
    }
    .popup-form-container .popup-header {
        @apply grid gap-4 bg-none rounded-tl-xl rounded-tr-xl;
        @apply px-4 py-2;
        grid-template-columns: auto 1.25rem;
        grid-template-rows: auto auto;
    }
    .popup-body {
        @apply w-full h-full flex flex-col gap-8 p-4;
    }
    .popup-body-content {
        @apply flex flex-1 flex-col gap-4;
    }
    .popup-form-container .popup-footer {
        @apply flex flex-col gap-4 p-4;
    }
    .popup-footer .popup-button:focus {
        @apply outline outline-[0.125rem] outline-offset-[0.125rem] outline-slate-300;
    }
    .popup-button .button-label {
        @apply text-center;
    }
}
