@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-small: 0.75rem;
    --font-base: 0.75rem;
    --font-medium: 1rem;
    --font-large: 1.75rem;
    --font-header: 1.75rem;

    --primary-highlight: linear-gradient(68deg, #124a83 20.2%, #3698cf 85.31%);

    --border-color: currentColor;
}

html {
    font-size: calc(100% * var(--scale, 1));
    box-sizing: border-box;
}

* {
    font-family: Roboto;
    font-size: inherit;
    color: inherit;
    line-height: 100%;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    user-select: text;
}

*:disabled,
.disabled {
    cursor: default;
}

body {
    font-size: var(--font-medium);
    color: #ffffff;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-color: #28284e;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #28284e;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
}

input[type='checkbox'] {
    width: 0.75rem;
    height: 0.75rem;
    accent-color: #358cd4;
}

@layer components {
    .page {
        @apply h-[100vh] w-[100vw];
    }

    .circle {
        --size: 1.5rem;
        height: var(--size);
        min-width: var(--size);
        @apply flex items-center justify-center rounded-full bg-white p-2 shadow-2x2;
        @apply font-bold leading-[0] text-black;
    }

    .scroll-container {
        @apply h-full overflow-y-auto overflow-x-hidden;
    }

    .hidden-container {
        @apply h-full overflow-hidden;
    }

    .required-field::after {
        content: ' *';
        @apply text-red-500;
    }
    .error-field {
        @apply rounded outline outline-[0.1rem] -outline-offset-[0.1rem] outline-[#ef4444];
        box-shadow: 0 0 0.625rem #ef4444;
    }
    .blink {
        outline-color: var(--color, black);
        outline-style: solid;
        outline-width: 0.125rem;
        outline-offset: -0.125rem;
        box-shadow:
            inset 0 0 1rem 0.125rem var(--color),
            0 0 1rem 0.125rem var(--color);
        @apply animate-blink;
    }
    .blink.blink-new {
        --color: #28a744;
    }
    .blink.blink-update {
        --color: #26c6da;
    }
}

@layer utilities {
    .background-none {
        background: none;
    }

    .grid-cols-max-0 {
        grid-template-columns: max-content 0fr;
    }

    .grid-cols-max-1 {
        grid-template-columns: max-content 1fr;
    }

    .glow {
        text-shadow: 0 0 8px #26c6da;
    }

    .translate-x-100 {
        translate: 100%;
    }

    .border-highlight {
        --border-color: linear-gradient(68deg, #124a83 20.2%, #3698cf 85.31%);
    }

    .border-danger {
        --border-color: #f05252;
    }

    .scale-h-0 {
        scale: 0;
    }

    .scale-h-1 {
        scale: 1;
    }

    .scale-v-0 {
        scale: 1 0;
    }

    .scale-v-1 {
        scale: 1 1;
    }
}
