.scheduler-week-view {
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    column-gap: 1rem;
}

.scheduler {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, 3rem);
}

.week-task-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(48, 1.5rem);
}

.day-display-container {
    display: grid;
    grid-template-columns: 5.5rem repeat(7, 1fr);
}

.scheduler-wrap {
    width: 72rem;
}

.scheduler-overlay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(48, 1.5rem);
}
